body{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: rgb(45, 126, 172);
    padding: 20px;
}

.header ul{
    padding-left: 550px;
}

.header li{
    display: inline;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.header li:hover{
    color: rgb(182, 246, 56);
}